.NavigationItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media (max-width : 600px) {
    .NavigationItems {
        display: none;
    }
}