.ToolbarNavigationItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.SideDrawerNavigationItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width : 600px) {
    .ToolbarNavigationItems {
        display: none;
    }
}