.Submit {
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color:  #1896af;
    margin: 10px 10%;
}

.DisabledButton {
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    color: rgb(105, 102, 102);
    margin: 10px 10%;
    border: 2px solid rgb(105, 102, 102);
}

.Submit:hover,
.Submit:active {
    color: #040469;
    background-image: none;
    background-color: white;
}

.Go {
    margin: 0 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 42px;
    height: 30px;
    font-size: 20px;
}