.NavigationItem {
    list-style: none;
    margin: 0 8px;
    cursor: pointer;
}

.NavigationItem:hover,
.NavigationItem:active {
    font-weight: bold;
}

@media (max-width : 600px) {
    .NavigationItem {
        margin: 5px 0;
        padding: 5px;

    }
}