.CopyURL {
    background-color: white;
    width: 600px;
    position: fixed;
    top: 20%;
    left: 30%;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 100;
}

.Show {
    display: block;
}

.Closed {
    display: none;
}

.Heading {
    width: 150px;
    margin: 20px auto;
    box-sizing: border-box;
}

.CopyInput {
    width: 90%;
    display: block;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 20px auto;
    box-sizing: border-box;
}

.Button {
    margin: 10px 25px;
    float: right;
}

.Original {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 70px;
    cursor: pointer;
}

.Copy {
    border: 1px solid green;
    color: green;
}

.Cancel {
    border: 1px solid red;
    color: red;
}

.Copy:hover,
.Copy:active {
    color: white;
    background-color: green;
}
.Cancel:hover,
.Cancel:active {
    color: white;
    background-color: red;
}

@media (max-width: 1100px) {
    .CopyURL {
        left: 20%;
    }
}
@media (max-width: 900px) {
    .CopyURL {
        left: 12%;
    }
}

@media (max-width: 700px) {
    .CopyURL {
        left: 20%;
        width: 400px;
    }
}

@media (max-width: 500px) {
    .CopyURL {
        left: 0;
        width: 100%;
    }
}